.brand-logo{
  width: 250px;
  text-align: center;
  font-weight: 100;
}

main, footer {
  padding-left: 250px;
}

.side-nav{
 z-index: 997;
 padding-top: 79px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  .side-nav{
    z-index: 999;
    padding-top: 0px;
  }
}

.no-margin{
	margin: 0 !important;
}

.btn-block{
	width: 100%;
}

.checkbox{
	padding-top: 1.7rem !important;
}

.modal.bottom-sheet{
  max-height: 90%;
}

.suspenso{
  filter:alpha(opacity=50) !important;
  opacity: 0.5 !important;
  -moz-opacity:0.5 !important;
  -webkit-opacity:0.5 !important;
  transition: all 0.2s !important;
}

.vendido{
  filter:alpha(opacity=50) !important;
  opacity: 0.5 !important;
  -moz-opacity:0.5 !important;
  -webkit-opacity:0.5 !important;
  transition: all 0.2s !important;
  background-color: #AEA;
}

.concluido{
  filter:alpha(opacity=50) !important;
  opacity: 0.5 !important;
  -moz-opacity:0.5 !important;
  -webkit-opacity:0.5 !important;
  transition: all 0.2s !important;
  background-color: #CCC;
}

.suspenso:hover, .vendido:hover, .concluido:hover{
  filter:alpha(opacity=100) !important;
  opacity: 1 !important;
  -moz-opacity:1 !important;
  -webkit-opacity:1 !important;
}

.card-content{
  min-height: 150px;
}

.card.card-icon{
  margin-top: 60px;
}
.card.card-icon .card-content-icon{
  width: 100px;
  height: 100px;
  margin-top: -30px;
  margin-left: 20px;
  position: absolute;
  background: #fff;
  padding: 20px;
  text-align: center;

}
.card.card-icon .card-content-icon svg,
.card.card-icon .card-content-icon i.material-icons{
  font-size: 4em;
}
.card.card-icon .card-content{
  text-align: right;
  height: auto;
  min-height: 119px;
}

.card.card-icon .card-content .card-title{
  font-weight: 100;
  font-size: 1.5em;
}

.card.card-icon .card-content h3{
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
